<p>
  Nombre: {{autor?.nombre}}
  Apellido: {{autor?.apellidos}}
<p-card title="DATOS DEL AUTOR" subtitle="Subtitle" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
    <img src="Card" src="assets/ad.png">
  </p-header>
  <div>
    <p>El nombre autor:{{autor?.nombre}}</p>
<p>El apellido del autor:{{autor?.apellidos}}</p>
<p>Es ecuatoriano:{{autor?.esEcuatoriano}}</p>
<p>El numero de libros del autor:{{autor?.numeroLibros}}</p>
<p>La fecha de nacimiento del autor:{{autor?.fechaNacimiento}}</p>
<p>El link de la imagen del autor:{{autor?.imagen}}</p>
<p>Libro del autor:{{autor?.libros}}</p>

  </div>

</p-card>
